@import "tailwindcss";

@theme {
  /* --- Colors (Matching your Config) --- */
  --color-gold: #A67C00;
  --color-gold-light: #C5A059;
  --color-gold-dark: #856404;
  --color-obsidian: #050505;
  --color-wbone: #FDFBF7;

  /* --- Typography --- */
  --font-body: "Inter", "sans-serif", "Roboto Mono";
  --font-display: "Playfair Display", "serif";

}

@layer base {
  body {
    background-color: var(--color-wbone);
    color: var(--color-obsidian);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, .font-display {
    font-family: var(--font-display);
  }
}

/* Custom Utilities */
@layer utilities {
  .content-justify {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
  }
}

/* Branding Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--color-wbone);
}
::-webkit-scrollbar-thumb {
  background: var(--color-gold);
}

html {
  scroll-behavior: smooth;
}
